{% extends "base.html" %}
{% load bootstrap_tags %}
{% block content %}

<!-- Page Parallax Header -->
<div class="ws-parallax-header parallax-window"  data-parallax="position:fixed">   <img src="{% static 'Images/rosegarden.jpg'%}"  display="block" width="100%" height="50%">       
        <div class="ws-overlay">            
            <div class="ws-parallax-caption">                
                <div class="ws-parallax-holder">
                    <h1>Product Details</h1>                        
                </div>
            </div>
        </div>            
    </div>            
    <!-- End Page Parallax Header -->

<div id="container">
        {% if next %}
        <form role="form" method="post" action="{% url 'login' %}?next={{ next }}">
        {% else %}
        <form role="form" method="post" action="{% url 'login' %}">
        {% endif %}

            <legend>Login</legend>
            {% csrf_token %}
            {{ form | as_bootstrap }}

           <p><a href="#">Forgot my password</a></p> 

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>
</div>

{% endblock %}




