{% extends "base.html" %}
{% load bootstrap_tags %}
{% load static from staticfiles %}

{% block head_js %}
    <script src="https://js.stripe.com/v2/" type="text/javascript"></script>
    <script type="text/javascript">
        //<![CDATA[
        Stripe.publishableKey = '{{ publishable }}';
        //]]>
    </script>
    <script type="text/javascript" src="{% static 'js/stripe.js' %}"></script>
{% endblock %}

{% block content %}

<!-- Page Parallax Header -->
   <div class="ws-parallax-header parallax-window"  data-parallax="position:fixed">   <img src="{% static 'Images/rosegarden.jpg'%}"  display="block" width="100%" height="50%">       
        <div class="ws-overlay">            
            <div class="ws-parallax-caption">                
                <div class="ws-parallax-holder">
                    <h1>Cart</h1>                        
                </div>
            </div>
        </div>            
    </div>            
    <!-- End Page Parallax Header -->

    <!-- Page Content -->
    <div class="container ws-page-container">
        <div class="row">                                                                 

            <!-- Cart Content -->
            <div class="ws-cart-page">
                <div class="col-sm-8">
                    <div class="ws-mycart-content">                
                        <table class="table"> 
                            <thead>
                                <tr>
                                    <th class="cart-item-head"></th>
                                    <th class="cart-item-head">Name</th> 
                                    <th class="cart-item-head">Order</th> 
                                    <th class="cart-item-head">Price</th> 
                                    <th class="cart-item-head">Quantity</th>
                                    <th class="cart-item-head">Total</th>

                            <tbody>
                                {% for item in items %}
                                <tr class="cart-item"> 
                                    <td class="cart-item-cell cart-item-thumb">                                
                                        <a href="#">
                                            <img height="100" width="100" src="{{ MEDIA_URL }}{{ item.design.image }}">
                                        </a>                                                                   
                                    </td>
                                    <td class="cart-item-cell cart-item-title">                                                               
                                       {{ item.design.name }}                                  
                                    </td>
                                    <td class="cart-item-cell cart-item-title">                                                               
                                       {{ item.medium }}                                 
                                    </td>                                                                 
                                    <td class="cart-item-cell cart-item-price">                                
                                        <span class="amount">{{ item.medium.price }}</span>                                
                                    </td> 
                                    <td class="cart-item-cell cart-item-quantity">                                
                                        <input type="number" value= {{ item.quantity }}>                                
                                    </td> 
                                  {% comment %}  <td class="cart-item-cell cart-item-subtotal">                                
                                        <span class="amount"> {{ total }} </span>                                
                                    </td>{% endcomment %}
                                     <td class="cart-item-cell cart-item-remove">                                
                                        <span><a href="#x"><i class="fa fa-times"></i></a></span>                            
                                    </td> 
                                </tr> 

                                
                                 {% endfor %}

                                <tr>
                                    <td colspan="6">
                                        <!-- Coupon -->
                                        <div class="ws-coupon-code">                                        
                                            <form class="form-inline">                            
                                                <div class="form-group">                                
                                                    <input type="text" placeholder="Coupon code">
                                                </div>   
                                                <!-- Button -->                         
                                                <a class="btn ws-small-btn-black">Apply Coupon</a>    
                                            </form>                                                                
                                        </div>

                                        <!-- Update Cart -->
                                        <div class="ws-update-cart">                                        
                                            <a class="btn ws-small-btn-black">Update Cart</a>                                              
                                        </div>
                                    </td>
                                </tr>    

                            </tbody> 
                        </table>                    
                    </div>
                </div>
                                

                    <!-- Cart Total -->
                    <div class="col-sm-4">
                        <div class="ws-mycart-total">  
                            <h2>Cart Totals</h2>                    
                            <table>
                                <tbody>
                                    <tr class="cart-subtotal">
                                        <th>Subtotal</th>
                                        <td><span class="amount">{{ total }} </span></td>
                                    </tr>

                                    <tr class="shipping">
                                        <th>Free Shipping</th>
                                        <td><span class="amount">0.00</span></td>
                                    </tr>                                

                                    <tr class="order-total">
                                        <th>Total</th>
                                        <td><strong><span class="amount">{{ total }}</span></strong></td>
                                    </tr>
                                </tbody>
                            </table>
                            <a  class="btn ws-btn-fullwidth" onclick="location.href='{% url 'checkout' %}';">Check Out</a>  
                        </div>
                    </div>  
                </div>                

            </div>
        </div>
                <!-- End Page Content -->
    
    {% endblock %}