/*@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic);


html {
  font-family: 'Open Sans', sans-serif;
}

body {
  min-height: 3000px;
  padding-top: 70px;
  font-family: 'Open Sans', sans-serif;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
    padding: 40px;
}

.product_container {

    height: 100%;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    background: black;
    padding: 5px 15px 12px;
}


.btn btn-default filter-button {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;

*/
  
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic);




font-family: 'Open Sans', sans-serif;

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  min-height: 3000px;
  padding-top: 70px;
  font-family: 'Open Sans', sans-serif;
}

.thumbnail {
    position: relative;
    padding: 0px;
    margin-bottom: 20px;
}

.thumbnail img {
    width: 100%;
    padding: 40px;
}

.product_container {

    height: 100%;
    min-height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    background: black;
    padding: 5px 15px 12px;
}


.btn btn-default filter-button {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;


  
